.gradle/
build/
bin/
out/
.idea/
*.iws
*.iml
*.ipr
.vscode/
run/
run-forge/
fabric/build/
forge/
forge-mdk-1.21.11-61.1.11.zip
dist/blocky-outline-forge-1.1.0.jar
dist/blocky-outline-1.1.0.jar
tools/
forge-mdk-template/
.DS_Store
